h1{
    text-align: center;
    color: blue;
}
p{
    color: green;
    text-align: center;
}
li{
    color:darkgreen;
    text-align: center;
}
#contacts{
    text-align: center;
    color:blueviolet;
}